<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections>
  <appSettings>
    <!-- Folder where the teases are stored (path is relative to the application directory). -->
    <add key="TeasesFolder" value="Teases" />

    <!-- Welcome audio file played when the application is started (path is relative to the application directory).-->
    <add key="WelcomeAudio" value="Resources\welcome.wav" />

    <!-- Welcome image file displayed when the application is started (path is relative to the application directory).-->
    <add key="WelcomeImage" value="Resources\welcome.jpg" />

    <!-- Audio file played on each beat of the metronome (path is relative to the application directory).-->
    <add key="MetronomeAudio" value="Resources\tick.wav" />

    <!-- URL opened when the tease has no URL and the 'online' button is pressed. -->
    <add key="DefaultUrl" value="http://www.milovana.com" />
  </appSettings>
  
</configuration>